.container{
    border-radius: 5%;
}
#Home{
    margin-top: 6%;
}
.Catagoris img{
    width: 100px;
    height: 100px;
}
.australia{
    background-color: #fceae8;
}
.images img{
    width: 100%;
    height: 100%;
}
.subscrib{
    background-color: cyan;
}
footer p{
    margin-bottom: 0%;
}